.footer {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.footer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
}
