body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-light: #ffffff;
  --color-dark: #333;
  --color-gray: #ccc;
  --color-green: #6ac045;
  --color-dark-1: #1d1d1d;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

*,*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.6rem;
  line-height: 1.5;
}