.homepage {
  position: relative;
}
.homepage__heading {
  color: var(--color-light);
  text-align: center;
  font-weight: 700;
  padding: 4rem 0 0;
  font-size: 2.76em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.homepage__popular {
  background-image: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0.82),
      rgb(36, 29, 29)
    ),
    url("../../assets/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 2rem;
  padding: 0 9rem 6rem;
}
.homepage__popular a {
  color: #428bca;
  text-decoration: none;
  font-weight: 700;
  transition: 0.2s ease-in-out;
  display: inline-block;
  justify-self: center;
}

.homepage__popular a:hover {
  color: #2a6496;
}

.homepage__popular > p {
  color: var(--color-gray);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}
.homepage__popularHeader {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;

  border-bottom: 1px solid #c0c3c2;
}
.homepage__popularHeader > h3 {
  color: var(--color-light);
  display: flex;
  align-items: center;
}
.homepage__popularHeader h3 img {
  width: 2.1rem;
  height: 2.1rem;
  display: block;
  margin-right: 1rem;
}
.homepage__popularHeader a img {
  display: block;
  margin-right: 1.01em;
}
.homepage__popularLink:link,
.homepage__popularLink:visited {
  font-weight: 700;
  display: flex;
  align-items: center;
  text-decoration: none;
}
